<phpunit bootstrap="./bootstrap.php" colors="true">
    <testsuite name="Office of Hopelessness Library Test Suite">
        <directory>./HopelessnessTest</directory>
    </testsuite>
    <filter>
        <blacklist>
            <directory>../tests</directory>
            <directory>../vendor</directory>
        </blacklist>
    </filter>
    <php>
        <ini name="display_startup_errors" value="1" />
        <ini name="display_errors" value="1" />
    </php>
</phpunit>
